<style>
body{
  font-family: 'Zilla Slab', serif;
}
h1{ 
  color: #715BC1;
}
.movie-title{
  font-weight: bold;
  font-size: 18px;
}
</style>

<div style="margin-top: 100px">
  <h1> Upcoming Movies </h1>,    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
       <div class="container">
        <div class="row">
          <%  @upcoming_movies["results"].each do | movie | %>
            <div class="col-md-3">
              <%= link_to href: 'http://www.example.com/' do %>
                <%= image_tag "https://image.tmdb.org/t/p/w200/#{movie["poster_path"]}"%>
              <% end %>
              <div class="movie-title"> 
                <%= movie['title']  %> 
              </div>
              <p><%= format_release_date(movie['release_date'])%></p>
            </div>
          <% end %>
        </div>
      </div>
</div>
</div>






