body{
  font-family: 'Zilla Slab', serif;
}
h1{
  color: #715BC1;
}
.movie-item{
  width: 200px;
  text-align: center;
}
.movie-title{
  font-weight: bold;
  font-size: 18px;
}
.movie-poster{
  width: 200px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.vote-average{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  top: 3px;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 85px;
  text-align: center;
}
.bad-score{
  background-color: #FF003F;
}
.average-score{
  background-color: #FEBA00;
}
.good-score{
  background-color: #03C239;
}
.no-score{
  background-color: white;
}
.icon-star{
  color: #715BC1;
  margin-top: 12px;
  margin-left: 5px;
}
.bg-purple-custom {
  background-color: #715BC1 !important;  
}